<!DOCTYPE html>
<html>
<head>
	<title>Main Page</title>
	<link rel="stylesheet" type="text/css" href="admin/style.css">
</head>
<body>
	<div>
			<h2>Welcome to Property Rental Management System</h2>
			<h3>Choose your desired property</h3> 		
	</div>
	<h4>
		<a href="/login">Login</a> |
		<a href="/registration">Register</a><br>
	</h4>
	<hr>
	<h3>Featured Posts</h3>
</body>
</html>