<!DOCTYPE html>
<html>
<head>
	<title>Registration Page</title>
	<link rel="stylesheet" type="text/css" href="admin/style.css">
</head>
<body>
	<h2>Registration Page</h2>

	<form method="post">
		Username: <input type="text" name="uname"><br>
		Name: <input type="text" name="name"><br>
		Password: <input type="password" name="password"><br>
		Confirm Password: <input type="password" name="confirmPassword"><br>
		Phone: <input type="number" name="phone"><br>
		Email: <input type="email" name="email"><br>
		<input type="submit" name="" value="Register">
	</form>
	<hr>
	<h4>Click for <a href="/login">Login</a><br>
		Go to <a href="/">Main Page</a>
	</h4>
</body>
</html>